section.home-page { //div parente
  width: 100%;
  height: 100vh;
  div.center-buttons { //div quase parente
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 70%;
    height: 70vh;
    a { //links bonitos
      text-decoration: none;
      width: 11.5%;

      p {
        text-align: center;
        font-size: 2rem;
        color: var(--text-colour);
        font-family: 'Tajawal', sans-serif;
      }

      svg {
        font-size: 5rem;
        background-color: var(--button-background);
        box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
        border-radius: 30%;
        border: 1px solid var(--text-colour);
        padding: 15%;
        color: var(--homepage-button-colour);
      }
    }
    
    //divs de botoes/texto nos sitios certos

    #ingredients {
      position: absolute;
      left: 20%;
      top: 15vh;
      p {
        margin-left: -10%;
      }
    }

    #recipes {
      position: absolute;
      left: 70%;
      top: 15vh;
    }

    #tableware {
      position: absolute;
      left: 20%;
      top: 65vh;
      p {
        margin-left: -8%;
      }
    }

    #shopping-alerts {
      position: absolute;
      left: 70%;
      top: 65vh;
    }

    //fim de divs de botoes/texto dos sitios certos

    .center-logo { //div do kitchenware do meio
      width: 30%;
      height: 20vh;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -76px;
      margin-left: -140px;
      font-family: 'Shippori Mincho', serif !important;
      font-weight: lighter;

      svg {
        font-size: 7rem;
        margin-left: 100px;
        color: var(--pot-color);
      }
      h1 {
        font-size: 2.3rem;
        text-align: center;
      }
    }
  }
}

//Coisas para ficar bonitas de lado

@media only screen and (max-width: 770px) {
  .home-page{
    a{
      width:20% !important;
      margin-left:-2% !important;
      p{
        margin-left:-30px !important;
      }
    }

    h1{
      margin-left:50px;
    }

    .center-logo{
      margin-top: -100px !important;
      margin-left: -150px !important;
    }
  }
}
