.center-buttons {
  a {
    width: 130px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid var(--text-colour);
    text-decoration: none;

    p {
      position: absolute;
      top: 10px;
    }
  }

  #ingredients {
    position: absolute;
    left: 230px;
    top: 280px;
    p {
      left: 27px;
    }
  }

  #recipes {
    position: absolute;
    left: 440px;
    top: 280px;
    p {
      left: 40px;
    }
  }

  #tableware {
    position: absolute;
    left: 230px;
    top: 380px;
    p {
      left: 30px;
    }
  }

  #shopping-alerts {
    position: absolute;
    left: 440px;
    top: 380px;
    p {
      left: 14px;
    }
  }
  .center-logo {
    width: 110px;
    height: 60px;
    position: absolute;
    left: 46%;
    top: 46vh;
    svg {
      position: absolute;
      left: 30px;
      width: 50px;
      height: 30px;
    }
    h1 {
      position: absolute;
      top: 30px;
      margin-left: 3px;
    }
  }
}
