.ingredients {
  padding: 1%;
  font-family: 'Barlow', sans-serif;

  a#Back {
    height: 5vh;
    position: fixed;
    svg {
      width: 70px;
      height: 40px;
    }
  }

  a:visited {
    color: var(--text-colour);
  }

  .table {
    margin: 7rem 17rem 0rem 2rem;
    height: 70vh;
    background: #e6bfd694;
    background: var(--table-background);
    border: 0px solid;
    border-radius: 5px;
    backdrop-filter: blur(6px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .header {
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 5px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #636262;
    }

    li#header-name {
      float: left;
      padding-left: 2rem;
    }

    li#header-quantity {
      float: left;
      padding-left: 8.5rem;
    }

    li#header-variety {
      float: left;
      padding-left: 7.5rem;
    }

    li p {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
  }

  .ingredients-stock {
    float: left;
    margin-left: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 1.5rem;

    ul {
      list-style-type: none;
    }

    li {
      height: 8vh;
      display: flex;
      justify-content: space-around;
      p {
        height: 8vh;
        vertical-align: middle;
        width: 5rem;
        padding-right: 1rem;
      }
      #stock-name {
        text-decoration: none;
        border-right: 1px solid rgb(105, 105, 105);
        width: 8.6rem;
        padding-left: 1.1rem;
      }
      #stock-quantity {
        text-decoration: none;
        text-align: center;
        border-right: 1px solid rgb(105, 105, 105);
        width: 14.5rem;
      }
      #stock-variety {
        text-decoration: none;
        margin-left: 4.5rem;
        float: left;
        text-align: left;
      }
    }
  }

  .filter {
    float: right;
    position: absolute;
    height: 30rem;
    width: 11.7rem;
    margin: 7rem 0rem 10rem 49rem;
    background: #e6bfd694;
    background: var(--table-background);
    border: 0px solid;
    border-radius: 5px;

    .filter-header {
      height: 62px;
      background: #636262;
      font-size: 1.5rem;
      border: 1px solid;
      border-radius: 5px;

      p {
        color: white;
        text-align: center;
        display: block;
        padding: 16px;
        text-decoration: none;
      }
    }

    .filter-buttons {
      button {
        padding: 5%;
        padding-top: 4%;
        margin: 1.1rem;
        margin-left: 2.8rem;
        border-radius: 20%;
        height: 3rem;
        width: 6rem;
        text-align: center;
        display: block;
        background: var(--button-background2);
        border: solid 1px black;
        font-weight: bold;
        font-family: 'Barlow', sans-serif;
      }

      button.Checked-filter {
        text-decoration: line-through;
        opacity: 0.7;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .table {
    margin: 20rem 2rem 0rem 2rem !important;
    height: 64vh !important;
  }

  .filter {
    position: fixed !important;
    left: 5% !important;
    top: 11% !important;
    margin: 0 auto !important;
    height: 10.1rem !important;
    width: 43.1rem !important;

    .filter-header {
      height: 10rem !important;
      width: 8rem !important;

      p {
        padding-top: 4rem !important;
      }
    }

    .filter-buttons {
      position: fixed !important;
      margin: 0rem 0rem 0rem 8rem !important;
      top: 12% !important;

      button {
        margin: 0.5rem 1rem 1rem 4rem !important;
        padding: 0 !important;
        float: left !important;
      }
    }
  }
}
