.recipes {
  padding: 1%;
  .recipe {
    padding: 1.5%;
    .recipe-hidden {
      display: none;
    }

    .recipe-open {
      width: 100%;
      height: 100vh;
      z-index: 24353465;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
}
