.settings {
  position: fixed;
  z-index: 10;
  height: 10vh;
  width: 30%;
  margin-left: 70%;
  button#Gear {
    position:absolute;
    left:75%;
    margin-top: 10px;
    width: 20%;
    height: 8vh;
    color: var(--text-colour);
    box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
    //backdrop-filter: blur(5px);
    //-webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid var(--text-colour);

    svg {
      width: 60%;
      height: 5vh;
    }
  }

  .settings-open {
    border: 1px solid var(--text-colour);
    border-radius: 5%;
    margin: 20px;
    background: rgba(48, 48, 48, 1);
    opacity: 1;
    background-color: var(--settings-background-colour);
    position: fixed;
    width: 95%;
    height: 95%;
    top: 0px;
    left: 0px;
    z-index: 10000000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);


    div{
      display:flex;
      justify-content: space-between;
      height:20vh;
      margin-left:5%;
      margin-right:10%;
    }

    button.settings-button {
      //box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 100%;
      border: 1px solid var(--text-colour);
      width: 11%;
      height: 13vh;
      position:absolute;

      svg {
        width:85%;
        height:7vh;
      }
    }

    div#first-row{
      margin-top:5vh;
      width:100%;

      div{
        width:20%;

        h3{
          margin-top:13vh;
          width: 60%;
          text-align: center;
        }
      }
    }

    div#second-row{
      margin-top:10vh;
      width:100%;

      div{
        width:20%;

        h3{
          margin-top:13vh;
          width: 60%;
          text-align: center;
        }
      }
    }

    div#third-row{
      margin-top:10vh;
      width:100%;

      div{
        width:20%;

        h3{
          margin-top:13vh;
          width: 60%;
          text-align: center;
        }
      }
    }

    button#close {
      margin-top: 5px;
      width: 8%;
      height: 10vh;
      float:right;
      //margin-right:2%;
      //margin-top:2vh;
      background:none;
      //background: rgba(255, 255, 255, 0.2);
      //box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
      //backdrop-filter: blur(5px);
      //-webkit-backdrop-filter: blur(5px);
      border-radius: 100%;
      border: none;

      svg {
        width:80%;
        height:5vh;
      }
    }
  }
}


