@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.tableware {
  padding: 1%;
  font-family: "Barlow", sans-serif;

  h1 {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .table {
    margin: 4rem 8rem 0 3rem;
    height: 73vh;
    background: #e6bfd694;
    background: var(--table-background);
    border: 0px solid;
    border-radius: 5px;
    backdrop-filter: blur(6px);
    overflow-y: scroll;
  }

  .header {
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 5px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #636262;
    }

    li#header-name {
      float: left;
      padding-left: 2rem;
    }

    li#header-quantity {
      float: left;
      padding-left: 14rem;
    }

    li#header-type {
      float: left;
      padding-left: 7rem;
    }
  }

  .tableware-stock {
    float: left;
    margin-left: 5%;
    padding-top: 2%;
    font-size: 1.5rem;

    .bars {
      height: 125%;
      width: 13rem;
      position: absolute;
      margin: 0.1rem 0 0 18rem;
      border-left: 1px solid rgb(105, 105, 105);
      border-right: 1px solid rgb(105, 105, 105);
    }

    ul {
      list-style-type: none;
    }

    li {
      padding: 0.8rem;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 100px;
      -moz-column-gap: 100px;
      column-gap: 115px;
      p {
        height: 5vh;
        vertical-align: middle;
      }
      #stock-quantity {
        text-decoration: none;
        text-align: center;
      }
      #stock-type {
        text-decoration: none;
        margin-left: -1rem;
      }
    }
  }
}
